@charset "UTF-8";
.mv {
  position: fixed;
  z-index: -2;
  width: 100%;
  top: 0px;
  height: 700px;
}
.mv__inner {
  position: relative;
}
.mv__logo {
  width: 300px;
  top: 380px;
  position: absolute;
  right: 5%;
  z-index: 1;
}
@media (max-width: 767px) {
  .mv__logo {
    width: 140px;
    font-size: 10px;
    top: 50svh;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
.mv__txt {
  padding-left: 30px;
  display: inline-block;
  line-height: 2;
  margin-top: 6px;
}
@media (max-width: 767px) {
  .mv__txt {
    padding-left: 0;
    text-wrap: nowrap;
  }
}
.mv__img {
  top: 0;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100svh;
  min-height: 1000px;
  min-width: 780px;
  background: url(../img/works1_fv.png) no-repeat center top/contain;
  -webkit-transform: translate(-85%, 0);
          transform: translate(-85%, 0);
}
@media (max-width: 767px) {
  .mv__img {
    background-size: 100svh;
    background: url(../img/works1_fv.png) no-repeat right top/contain;
    left: 60%;
    top: -20px;
  }
}

.ov {
  margin-top: min(1000px, 101svh);
}
.ov__fvImg {
  margin-left: 40px;
  max-width: 260px;
}
@media (max-width: 767px) {
  .ov__fvImg {
    display: none;
  }
}
.ov__fv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .ov__fv {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
  }
}
.ov__fvTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media (max-width: 767px) {
  .ov__fvTxt {
    gap: 30px;
  }
}
.ov__fvLogo {
  max-width: 300px;
  padding-top: 20px;
  width: 80%;
}
@media (max-width: 767px) {
  .ov__fvLogo {
    margin: auto;
  }
}
.ov__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding: 40px 60px;
  margin: 60px auto 60px;
  background: #F4F9FF;
  font-size: 14px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 14px;
}
@media (max-width: 767px) {
  .ov__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 40px;
    gap: 0px;
  }
}
.ov__target {
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
}

h5 {
  font-weight: bold;
}

h3 {
  margin-top: 80px;
}
@media (max-width: 767px) {
  h3 {
    margin-top: 40px;
  }
}

.sf.sections__box {
  border-radius: 0;
  width: 100%;
}
.sf__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 900px;
  margin: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .sf__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    max-width: 300px;
    width: 100%;
    gap: 14px;
  }
}
.sf__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 225px;
}
@media (min-width: 768px) and (max-width: 900px) {
  .sf__item {
    width: 200px;
    font-size: 13px;
    line-height: 1.8;
  }
}
@media (max-width: 767px) {
  .sf__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.sf__img {
  width: 200px;
}
@media (min-width: 768px) and (max-width: 900px) {
  .sf__img {
    width: 160px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .sf__img {
    width: 110px;
    font-size: 13px;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .sf__dsc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.sf__ttl {
  font-weight: bold;
}

.ps {
  padding-top: 100px;
}
@media (max-width: 767px) {
  .ps {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sections__box {
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .sections__column {
    gap: 50px;
  }
}

.att__li li {
  padding-left: 18px;
  position: relative;
}
.att__li li::before {
  position: absolute;
  content: "▶︎";
  left: 0px;
  font-size: 10px;
}

.lo h6 {
  font-weight: bold;
  color: #fff;
  background: #43A1FF;
  border-radius: 14px 14px 0 0;
  font-size: 22px;
  padding: 12px;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .lo h6 {
    font-size: 18px;
  }
}
.lo__box {
  background: #F4F9FF;
  border-radius: 14px;
  margin-top: 60px;
}
.lo__boxInner {
  padding: 0 5% 60px;
}
@media (max-width: 767px) {
  .lo__boxInner {
    padding-bottom: 40px;
  }
}
.lo__img--2 {
  max-width: 600px;
  margin: auto;
}
.lo__img--4 {
  max-width: 500px;
  margin: auto;
}
.lo__img--5 {
  max-width: 600px;
  margin: auto;
}

.bu__kadai {
  background: #EBEBEB;
  padding: 30px;
  border-radius: 14px;
  position: relative;
  font-weight: bold;
  margin-top: 60px;
}
.bu__kadaiTtl {
  position: absolute;
  top: -30px;
  background: #595959;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 14px;
}
.bu__img--1, .bu__img--2, .bu__img--3 {
  margin-top: 80px;
}
@media (max-width: 767px) {
  .bu__img--1, .bu__img--2, .bu__img--3 {
    margin-top: 40px;
  }
}

.ui__img--2 {
  margin: 60px auto;
  max-width: 700px;
}
@media (max-width: 767px) {
  .ui__img--2 {
    margin: 20px 0 40px;
  }
}
.ui__img--3, .ui__img--6 {
  max-width: 600px;
  margin: 40px auto;
}
@media (max-width: 767px) {
  .ui__img--3, .ui__img--6 {
    margin: 20px 0 40px;
  }
}
.ui__img--4 {
  max-width: 600px;
  margin: 20px auto 0;
}

.onlySP {
  display: none;
}
@media (max-width: 767px) {
  .onlySP {
    display: block;
  }
}

.onlyPC {
  display: block;
}
@media (max-width: 767px) {
  .onlyPC {
    display: none;
  }
}

a[data-lightbox=group]:hover {
  opacity: 1;
}