.sections__listOuter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  padding: 40px 60px;
  margin: 60px auto 60px;
  background: #F4F9FF;
  font-size: 14px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .sections__listOuter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 40px 30px;
    gap: 0px;
  }
}

.mv {
  position: fixed;
  z-index: -2;
  width: 100%;
  top: 0px;
  height: 700px;
}
.mv__inner {
  position: relative;
}
.mv__logo {
  width: 300px;
  top: 450px;
  position: absolute;
  right: 56%;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .mv__logo {
    width: 160px;
    right: auto;
    left: 0;
    font-size: 16px;
    top: 50svh;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
.mv__txt {
  display: inline-block;
  font-size: 13px;
  line-height: 2;
  margin-top: 20px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .mv__txt {
    padding-left: 0;
    text-wrap: nowrap;
    font-size: 10px;
    margin-top: 10px;
  }
}
.mv__img {
  top: 100px;
  right: 12%;
  width: calc(100% - 145px);
  max-width: 200px;
  position: absolute;
  height: calc(100svh - 50px);
  max-height: 1000px;
  max-width: 300px;
  background: url(../img/works2_fv.png) no-repeat center center/contain;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (min-width: 768px) and (max-width: 900px) {
  .mv__img {
    background: url(../img/works2_fv.png) no-repeat right center/contain;
    height: 100svh;
    top: 60px;
  }
}
@media (max-width: 767px) {
  .mv__img {
    background: url(../img/works2_fv.png) no-repeat right top 55%/contain;
    height: 100svh;
    right: -7%;
    top: 0;
  }
}

.overview {
  margin-top: min(1000px, 101svh);
}

.sf.sections__box {
  border-radius: 0;
  width: 100%;
}
.sf__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 900px;
  margin: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .sf__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    max-width: 300px;
    width: 100%;
    gap: 14px;
  }
}
.sf__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 225px;
}
@media (min-width: 768px) and (max-width: 900px) {
  .sf__item {
    width: 200px;
    font-size: 13px;
    line-height: 1.8;
  }
}
@media (max-width: 767px) {
  .sf__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.sf__img {
  width: 200px;
}
@media (min-width: 768px) and (max-width: 900px) {
  .sf__img {
    width: 160px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .sf__img {
    width: 110px;
    font-size: 13px;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .sf__dsc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.sf__ttl {
  font-weight: bold;
}

.ps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 180px;
}
.ps__box {
  position: relative;
}
.ps__box--1, .ps__box--4 {
  padding-bottom: 50%;
}
@media (max-width: 767px) {
  .ps__box--1, .ps__box--4 {
    padding-bottom: 50px;
  }
}
.ps__box--1::after, .ps__box--4::after {
  content: "";
  position: absolute;
  width: 92%;
  height: 500px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url(../img/ps1.png) no-repeat center bottom/contain;
}
@media (max-width: 767px) {
  .ps__box--1::after, .ps__box--4::after {
    display: none;
  }
}
.ps__box--4::after {
  background: url(../img/ps4.png) no-repeat center bottom/contain;
}
.ps__box--2 {
  padding-top: 320px;
  width: 50%;
}
@media (min-width: 768px) and (max-width: 900px) {
  .ps__box--2 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .ps__box--2 {
    width: 100%;
  }
}
.ps__box--3 {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 900px) {
  .ps__box--3 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .ps__box--3 {
    width: 100%;
  }
}
.ps__box--3 h4 {
  padding-top: 20px;
}
.ps__img {
  display: none;
}
.ps__img--1, .ps__img--4 {
  display: block;
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.ps__img--2 {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px 0 0 0;
  overflow: hidden;
  width: 260px;
}
@media (max-width: 767px) {
  .ps__img--2 {
    width: 230px;
  }
}
.ps__img--3 {
  margin-top: 60px;
  width: 220px;
  margin-left: 20px;
}
@media (min-width: 768px) and (max-width: 900px) {
  .ps__img--3 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .ps__img--3 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
  }
}
.ps__cap {
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .ps__cap {
    font-size: 10px;
  }
}
.ps__cap--2_1 {
  top: 80px;
  width: calc(100% - 280px);
  left: 260px;
}
@media (max-width: 767px) {
  .ps__cap--2_1 {
    width: calc(100% - 250px);
    left: 230px;
    top: 70px;
  }
}
.ps__cap--2_2 {
  top: 180px;
  width: calc(100% - 280px);
  left: 260px;
}
@media (max-width: 767px) {
  .ps__cap--2_2 {
    width: calc(100% - 250px);
    left: 230px;
    top: 167px;
  }
}
.ps__cap--3 {
  position: absolute;
  text-align: center;
  left: 300px;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media (min-width: 768px) and (max-width: 900px) {
  .ps__cap--3 {
    top: 110px;
    left: 74%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media (max-width: 767px) {
  .ps__cap--3 {
    top: 140px;
    -webkit-transform: translate(calc(-50% + 120px), 0);
            transform: translate(calc(-50% + 120px), 0);
    left: 50%;
  }
}
.ps__cap--3 img {
  width: 60px;
  height: 60px;
}

.onlySP {
  display: none;
}
@media (max-width: 767px) {
  .onlySP {
    display: block;
  }
}

.onlyPC {
  display: block;
}
@media (max-width: 767px) {
  .onlyPC {
    display: none;
  }
}