$bg: #F2F7FF;
$bg40: #F2F7FF66; //40%
$bg20: #F2F7FF33; //20%

$bg-white: #FFFFFF;
$bg-blue: #F4F9FF;

$pr: #43A1FF;

$tag-color: #777;
$text-main: #333;


$breakpoints: (
    //キー : 値
    'sp': "(max-width: 767px)",
    'tab': "(min-width: 768px) and (max-width: 900px)",
    'pc': "(min-width: 901px)"
    ) !default;


@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.img-top {
    margin-top: 40px;
}

.mv {
    position: fixed;
    z-index: -2;
    width: 100%;
    top: 0px;
    height: 700px;

    &__inner {
        position: relative;
    }

    &__logo {
        width: 330px;
        top: 380px;
        position: absolute;
        right: 5%;
        z-index: 1;
        font-size: 35px;
        font-weight: bold;
        line-height: 2;

        @include mq(sp) {
            position: fixed;
            width: 260px;
            font-size: 18px;
            padding: 26px 18px 26px 24px;
            top: 15vh;
            right: 0;
            border-radius: 20px 0 0 20px;
        }
    }

    &__txt {
        display: inline-block;
        line-height: 2;
        margin-top: 6px;
        font-size: 16px;

        @include mq(sp) {
            padding-left: 0;
            font-size: 10px;
        }
    }

    &__img {
        top: 0;
        left: 0;
        position: fixed;
        width: calc(100% - (100vw - 1000px)/2 - 400px
        );
    height: 100vh;
    min-height: 100vh;
    background: url(../img/works_fv.png)no-repeat right top/cover;

    @include mq(sp) {
        width: 100vw;

        left: 0;
        background: url(../img/works_fv_sp.png)no-repeat right top/cover;

    }
}
}

.ov {
    margin-top: min(1000px, 101svh);

    &__list {
        display: flex;
        justify-content: start;
        gap: 40px;
        padding: 40px 40px;
        margin: 60px auto 60px;
        background: $bg-blue;
        font-size: 14px;
        flex-wrap: wrap;
        border-radius: 14px;

        @include mq() {
            justify-content: start;
            padding: 40px 20px;
            gap: 20px;
        }
    }

    &__img {
        max-width: 800px;
        margin: auto;
        margin-top: 40px;
    }
}

h5 {
    font-weight: bold;
}

h3 {
    margin-top: 80px;

    @include mq() {
        margin-top: 40px;
    }
}


.ps {
    padding-top: 100px;

    @include mq() {
        padding-top: 60px;
    }
}

.container {
    @include mq() {
        width: 100%;
    }
}

.sections__box {
    @include mq() {
        border-radius: 0;
    }
}

.sections__column {
    @include mq() {
        gap: 50px;
    }
}



.att {
    &__li li {
        padding-left: 18px;
        position: relative;

        &::before {
            position: absolute;
            content: "▶︎";
            left: 0px;
            font-size: 10px;
        }
    }
}

.mokuji {
    border: 1px solid #000;
    padding: 30px;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    margin-top: 80px;

    @include mq() {
        margin-top: 40px;
    }

    & h3 {
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 20px;
    }

    & li a {
        display: block;
        padding: 3px 20px;
        width: 240px;
        margin: auto;

        @include mq() {
            width: 200px;
        }
    }
}

.onlySP {
    display: none;

    @include mq() {
        display: block;
    }
}

.onlyPC {
    display: block;

    @include mq() {
        display: none;
    }
}


a[data-lightbox="group"]:hover {
    opacity: 1;
}