$bg: #F2F7FF;
$bg40: #F2F7FF66; //40%
$bg20: #F2F7FF33; //20%

$bg-white: #FFFFFF;
$bg-blue: #F4F9FF;

$pr: #43A1FF;

$tag-color: #777;
$text-main: #333;


$breakpoints: (
    //キー : 値
    'sp': "(max-width: 767px)",
    'tab': "(min-width: 768px) and (max-width: 900px)",
    'pc': "(min-width: 901px)"
    ) !default;


@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}


.mv {
    position: fixed;
    z-index: -2;
    width: 100%;
    top: 0px;
    height: 700px;

    &__inner {
        position: relative;
    }

    &__logo {
        width: 300px;
        top: 380px;
        position: absolute;
        right: 5%;
        z-index: 1;

        @include mq(sp) {
            width: 140px;
            font-size: 10px;
            top: 50svh;
            transform: translate(0, -50%
            );
    }

}

&__txt {
    padding-left: 30px;
    display: inline-block;
    line-height: 2;
    margin-top: 6px;

    @include mq(sp) {
        padding-left: 0;
        text-wrap: nowrap;
    }
}

&__img {
    top: 0;
    left: 50%;
    position: absolute;
    width: 100%;
    height: 100svh;
    min-height: 1000px;
    min-width: 780px;
    background: url(../img/works1_fv.png)no-repeat center top/contain;
    transform: translate(-85%, -0);

    @include mq(sp) {
        background-size: 100svh;
        background: url(../img/works1_fv.png)no-repeat right top/contain;
        left: 60%;
        top: -20px;
    }
}
}

.ov {
    margin-top: min(1000px, 101svh);


    &__fvImg {
        margin-left: 40px;
        max-width: 260px;

        @include mq() {
            display: none;
        }
    }

    &__fv {
        display: flex;
        flex-direction: row;
        gap: 5%;
        justify-content: center;
        align-items: center;

        @include mq() {
            flex-wrap: wrap;
            padding-left: 0;
        }
    }

    &__fvTxt {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mq() {
            gap: 30px;
        }
    }

    &__fvLogo {
        max-width: 300px;
        padding-top: 20px;
        width: 80%;

        @include mq() {
            margin: auto;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 40px;
        padding: 40px 60px;
        margin: 60px auto 60px;
        background: $bg-blue;
        font-size: 14px;
        flex-wrap: wrap;
        border-radius: 14px;

        @include mq() {
            justify-content: start;
            padding: 40px;
            gap: 0px;
        }
    }

    &__target {
        max-width: 700px;
        margin: auto;
        margin-top: 40px;
    }
}

h5 {
    font-weight: bold;
}

h3 {
    margin-top: 80px;

    @include mq() {
        margin-top: 40px;
    }
}


.sf {
    &.sections__box {
        border-radius: 0;
        width: 100%;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        max-width: 900px;
        margin: auto;
        width: 100%;

        @include mq(sp) {
            flex-direction: column;
            margin: auto;
            max-width: 300px;
            width: 100%;
            gap: 14px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-content: center;
        width: 225px;

        @include mq(tab) {
            width: 200px;
            font-size: 13px;
            line-height: 1.8;
        }

        @include mq(sp) {
            flex-direction: row;
            width: 100%;
            justify-content: start;
        }
    }

    &__img {
        width: 200px;

        @include mq(tab) {
            width: 160px;
            font-size: 13px;
        }

        @include mq(sp) {
            width: 110px;
            font-size: 13px;
            gap: 20px;
        }
    }

    &__dsc {
        @include mq(sp) {
            flex: 1;
        }
    }

    &__ttl {
        font-weight: bold;
    }
}

.ps {
    padding-top: 100px;

    @include mq() {
        padding-top: 60px;
    }
}

.container {
    @include mq() {
        width: 100%;
    }
}

.sections__box {
    @include mq() {
        border-radius: 0;
    }
}

.sections__column {
    @include mq() {
        gap: 50px;
    }
}



.att {
    &__li li {
        padding-left: 18px;
        position: relative;

        &::before {
            position: absolute;
            content: "▶︎";
            left: 0px;
            font-size: 10px;
        }
    }
}

.lo {
    & h6 {
        font-weight: bold;
        color: #fff;
        background: $pr;
        border-radius: 14px 14px 0 0;
        font-size: 22px;
        padding: 12px;
        text-align: center;
        margin-bottom: 40px;

        @include mq() {
            font-size: 18px;
        }
    }

    &__box {
        background: $bg-blue;
        border-radius: 14px;
        margin-top: 60px;
    }

    &__boxInner {
        padding: 0 5% 60px;

        @include mq() {
            padding-bottom: 40px;
        }
    }

    &__img {
        &--2 {
            max-width: 600px;
            margin: auto;
        }

        &--4 {
            max-width: 500px;
            margin: auto;
        }

        &--5 {
            max-width: 600px;
            margin: auto;
        }
    }
}

.bu {

    &__kadai {
        background: #EBEBEB;
        padding: 30px;
        border-radius: 14px;
        position: relative;
        font-weight: bold;
        margin-top: 60px;
    }

    &__kadaiTtl {
        position: absolute;
        top: -30px;
        background: #595959;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        padding: 8px 30px;
        border-radius: 14px;
    }

    &__img {

        &--1,
        &--2,
        &--3 {
            margin-top: 80px;

            @include mq() {
                margin-top: 40px;
            }
        }
    }
}

.ui {

    &__img {

        &--2 {
            margin: 60px auto;
            max-width: 700px;

            @include mq() {
                margin: 20px 0 40px;
            }
        }

        &--3,
        &--6 {
            max-width: 600px;
            margin: 40px auto;

            @include mq() {
                margin: 20px 0 40px;
            }
        }

        &--4 {
            max-width: 600px;
            margin: 20px auto 0;
        }
    }
}

.onlySP {
    display: none;

    @include mq() {
        display: block;
    }
}

.onlyPC {
    display: block;

    @include mq() {
        display: none;
    }
}


a[data-lightbox="group"]:hover {
    opacity: 1;
}