@charset "UTF-8";
/* font */
@font-face {
  font-family: "inter";
  src: url("../font/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url("../font/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url("../font/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url("../font/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* 文字 */
body {
  color: #333;
  font-family: inter, sans-serif;
  font-weight: normal;
  line-height: 200%;
  background: #F2F7FF;
  font-size: 16px;
}
@media (max-width: 767px) {
  body {
    font-size: 13px;
  }
}

.en {
  letter-spacing: 0.05em;
}

/* 画像 */
img {
  width: 100%;
  height: auto;
}

/* リンク */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s ease opacity;
  transition: 0.4s ease opacity;
  cursor: pointer;
}

a.opacityNone:hover {
  opacity: 1;
}

/* 画面幅 */
.container,
header {
  width: 92%;
  max-width: 1000px;
  margin: auto;
}

@media (max-width: 767px) {
  .sections .container {
    width: 100%;
  }
}

.header {
  border: 1px solid #FFFFFF;
  background: rgba(242, 247, 255, 0.4);
  -webkit-filter: drop-shadow(16px 25px 14px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(16px 25px 14px rgba(0, 0, 0, 0.1));
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 100px;
  z-index: 4;
}
@media (max-width: 767px) {
  .header {
    border: none;
    font: none;
    background: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 92%;
  margin: auto;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .header__inner {
    padding: 0;
  }
}
.header__logo {
  width: 140px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header__right a {
  padding: 4px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}
@media (max-width: 767px) {
  .header__right {
    display: none;
  }
}
.header__ber {
  width: 45px;
  height: 38px;
  position: relative;
  padding: 5px;
  cursor: pointer;
}
.header__ber--1, .header__ber--2, .header__ber--3 {
  position: absolute;
  width: 35px;
  height: 2px;
  border-radius: 2px;
  content: "";
  right: 0;
  background: #43A1FF;
}
.header__ber--1 {
  top: 8px;
}
.header__ber--2 {
  top: 18px;
  width: 28px;
}
.header__ber--3 {
  top: 28px;
  width: 20px;
}

@media (max-width: 767px) {
  .drawer {
    background: #43A1FF;
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 5;
    right: -100vw;
    opacity: 0;
    -webkit-transition: right 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: right 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .drawer.active {
    right: 0vw;
    opacity: 1;
    -webkit-transition: right 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: right 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .drawer::after {
    position: absolute;
    left: -50px;
    content: "";
    width: 50px;
    height: 50px;
    background: url(../img/close.png) no-repeat center center/contain;
    top: 20px;
    pointer-events: none;
  }
  .drawer__inner {
    padding-top: 120px;
    padding-left: 20%;
    color: #fff;
  }
  .drawer__ttl {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 45px;
    display: block;
  }
  .drawer__items {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .drawer__items a {
    padding: 10px;
    font-weight: bold;
  }
  .drawer__bg {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background: rgba(242, 247, 255, 0.4);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    width: 100vw;
    height: 100vh;
    top: 0;
    -webkit-transition: opacity 0.8s, visibility 1s 0.5s;
    transition: opacity 0.8s, visibility 1s 0.5s;
    left: 0;
    z-index: 4;
  }
  .drawer__bg.active {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}
h2 {
  font-size: 60px;
  font-weight: bold;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 50px;
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 120px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 40px;
    margin-bottom: 40px;
    padding-top: 60px;
  }
}
h2 span {
  font-size: 18px;
  display: block;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
}
@media (max-width: 767px) {
  h2 span {
    font-size: 13px;
  }
}

h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #333333;
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-weight: bold;
  padding-top: 80px;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  h4 {
    padding-top: 40px;
  }
}

section {
  margin-bottom: 300px;
}
@media (max-width: 767px) {
  section {
    margin-bottom: 170px;
  }
}

.sections {
  border-radius: 30px;
}
.sections__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (min-width: 768px) and (max-width: 900px) {
  .sections__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .sections__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sections__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.sections__box {
  background: #FFFFFF;
  padding: 0 5% 100px;
  -webkit-box-shadow: 20px 30px 15px rgba(53, 56, 86, 0.13);
          box-shadow: 20px 30px 15px rgba(53, 56, 86, 0.13);
  border-radius: 30px;
}
@media (max-width: 767px) {
  .sections__box {
    padding: 0 5% 50px;
    border-radius: 0;
  }
}
.sections__listOuter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 60px;
}
@media (max-width: 767px) {
  .sections__listOuter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    margin-left: 20px;
  }
}
.sections__list {
  margin-top: 40px;
}
.sections__list--ttl {
  background: #43A1FF;
  padding: 2px 12px;
  border-radius: 6px;
  font-weight: bold;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 10px;
}
.sections__list li {
  font-weight: bold;
}

.shadow {
  -webkit-box-shadow: 20px 25px 15px rgba(53, 56, 86, 0.13);
          box-shadow: 20px 25px 15px rgba(53, 56, 86, 0.13);
}

.btn {
  background: #43A1FF;
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  width: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  position: relative;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.btn__arrow {
  background: #43A1FF;
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 40px 10px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  position: relative;
}
.btn__arrow::after {
  content: "▶︎";
  font-size: 9px;
  right: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.btn__work {
  display: block;
  margin: 200px auto 0;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .btn__work {
    margin-top: 100px;
  }
}
.btn__border {
  background: #fff;
  border: 1px solid #43A1FF;
  color: #43A1FF;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .btn__border {
    font-size: 13px;
  }
}

input[type=submit],
#submitPassword {
  background: #43A1FF;
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  position: relative;
  border: none;
  cursor: pointer;
}

input[type=text],
input[type=email],
textarea,
input[type=password] {
  border: none;
  width: 100%;
  max-width: 530px;
  background: #F2F7FF;
  padding: 17px 20px;
  margin-top: 12px;
}

textarea {
  min-height: 140px;
  min-width: 100%;
  width: 100% !important;
  max-width: 530px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #333;
  opacity: 0.26;
}

input:-moz-placeholder,
textarea::-moz-placeholder {
  color: #333;
  opacity: 0.26;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #333;
  opacity: 0.26;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #333;
  opacity: 0.26;
}

.footer {
  padding: 65px 50px 20px;
  background: #43A1FF;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .footer {
    padding: 65px 10px 20px;
  }
}
.footer__logo {
  width: 160px;
  height: 69px;
  margin-bottom: 42px;
  display: block;
}
.footer__inner {
  padding-left: 40px;
  font-size: 13px;
}
@media (max-width: 767px) {
  .footer__inner {
    padding-left: 20px;
  }
}
.footer__inner a {
  font-weight: bolder;
  line-height: 1;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__link {
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 85px;
  font-size: 16px;
}
.footer__copy {
  display: block;
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 10px;
}

.logo_fadein {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.logo_fadein p {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  max-width: 280px;
  width: 100%;
  text-align: center;
}

.bg {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}

strong {
  color: #43A1FF;
  position: relative;
  z-index: 1;
}